body {
    color: #3F4548;
}

/* デフォルトスタイルを消去 */
.tabs-menu {
    margin: 0;
    padding: 0;
}

/* タブの基本スタイル */
.tabs-menu {
    margin-right: 8px;
    
    
    /* 各プロパティをふわっと変える演出 */
    transition: all .15s;
}

.tabs-menu div {
  float:left;
  display: block;
  padding: 10px 20px;
  color: #557F95;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  margin-bottom: -2px;
}


/* 非選択のタブにマウスを乗せたら色を変える */
.tabs-menu :not(.active):hover {
    border-color: #f0f0f0 #f0f0f0 #999;
    background-color: #f0f0f0;
}

/* 選択中のタブ */
.tabs-menu .active {
    border-color: #999 #999 transparent #999;
    background-color: #fff;
}
.tabs-menu .active div {
    color: #3F4548;
}

/* タブコンテンツ表示エリア */
.tabs-content {
    clear: both;
    border: 1px solid #999;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
}

/* 各タブのコンテンツはデフォルトで非表示 */
.tabs-content div {
    display: none;
}